@(id: Long, employeeForm: Form[Employee])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {
    
    <h1>Edit Employee details</h1>
    
    @form(routes.Application.update(id)) {
        
        <fieldset>
        
            @inputText(employeeForm("name"), '_label -> "Name")
            @inputText(employeeForm("address"), '_label -> "Address")
            @inputText(employeeForm("dob"), '_label -> "Date of Birth")
            @inputText(employeeForm("joiningDate"), '_label -> "Joining Date")
            @inputText(employeeForm("designation"), '_label -> "Designation") 
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this employee" class="btn primary"> or 
            <a href=@routes.Application.list() class="btn">Cancel</a> 
        </div>
        
    }
    
    @form(routes.Application.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this employee" class="btn danger">
    }
    
}
