@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>Employees database</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
    </head>
    <body>
        
        <header class="topbar">
            <h1 class="fill">
                   Slick 3.0 sample application &mdash; Employee database
            </h1>
        </header>
        
        <section id="main">
            @content
        </section>
        
    </body>
</html>
